.service{
   margin: 4rem 0;

    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    grid-template-rows:min-content min-content;
    grid-gap: 1rem;
    justify-content: center;
    
    @media only screen and (max-width:$bp-medium){
      display: grid;
      grid-template-columns:repeat(auto-fit,minmax(500px,1fr));
     
    }
      
    @media only screen and (max-width:$bp-small){
      display: grid;
      grid-template-columns:repeat(auto-fit,minmax(400px,1fr));
  
      justify-content: center;
     
    }

     
   

  &__heading{
    color: gray;
    margin-left: 2rem;
    margin-top: 1rem;

    @media only screen and (max-width:$bp-medium){
      display: grid;
     
      align-items: start;
      font-size: 1.5rem;
      
    }

    // @media only screen and (max-width:$bp-small){
    //   display: grid;
     
    //   align-items: center;
    //   font-size: 1.2rem;
      
    // }
  }

  &__flex{
    display: flex;
    margin-bottom: 2rem;
  
  }
 
  &__img{
     width: 10%;
    
  }


 &__text{
    font-size: 1.5rem;
    font-weight: 100;
    text-transform:lowercase;

    &--1{
      color: #ccc;
    }
 }

 &__content{
  

  padding:   2rem 3.5rem;  

  text-align: left;
  font-size: 1.2rem;
  text-transform: uppercase;
   
    
     

  }
}

.margin-bottom{ 
 
  // display:inline;
  // color: black;
  // border: #000 2px solid ;
  // background-color: white;
  // border: none;
  // padding: 1rem 2rem;
  margin-bottom: 1.2rem;
 
}

